body{
  background-color:rgb(249, 252, 252) ;
}

a {
  color: navy;

}
.App{
  max-width: 990px;
  margin: 0 auto;
}
.App h1 {
  text-align: center;
  font-size: 50px;
  padding: 40px;
  
  margin: 10px;
}
.font-link{
  font-family:'Prata', serif;
}
footer{
  text-align: center;
  font-weight: bold;
  margin: 30px;
}

/*font-family:'Meow Script', cursive;*/

