.Meaning h3{
font-size: 25px;
line-height: 1.5;
font-weight: bold;
text-transform: capitalize;
}


.Meaning .Examples{
   margin-top: 10px;
    opacity: 0.8;
    font-style: italic;
}

.Meaning {
  font-family:'Prata', serif;
  font-size: 16px;
}